@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Login Instructions</h3>
    <p >Login:  jdoe@ups.com</p>
    <p >Pswd:  Abc123*</p>
    <p>Create your own login by registering</p>
    <p>After logging go to “Item Detail” and then “Initial Amount”.
        Once there, there is a list of records that can be edited.</p>
    <p>The create and edit forms have validation on the fields.</p>
    <p>Neither the ItemDetail page or its Webapi can be reached unless the user is logged in</p>

</div>

